<a href="https://colab.research.google.com/github/FirmanAhmadBayumi/Machine-Learning/blob/main/Pertemuan2_FirmanAhmadBayumi_2117051062.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 2

## Library
*   Install Library
*   Deklarasi Library
*   Library bisa disebut sebagai kumpulan kode yang dapat digunakan berulang kali dallam program yang berbeda

In [ ]:
# install library mlxtend
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.5.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [ ]:
import pandas as pd
import numpy as np

#import apriory dari library mlextend
from mlxtend.frequent_patterns import apriori, association_rules

## Data Set


*   Membuat dataset taransaksi sebagai dataframe
*   Cek dataset transaksi

In [ ]:
# membuat data tabular yang terdiri dari data taransaksi

df = pd.DataFrame(
    {
        "ID Transaksi" : pd.Series([1, 2, 3, 4, 5]),
        "Item" : pd.Series([["Susu", "Roti", "Biskuit", "Mentega"],\
                           ["Susu", "Biskuit", "Gula", "Kopi"], \
                           ["Gula", "Kopi", "Susu"], ["Kopi", "Biskuit", "Susu", "Gula"], \
                           ["Mentega", "Roti", "Kopi"]]),
    }
)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Transaksi  5 non-null      int64
 1   Item          5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [ ]:
df

   ID Transaksi                            Item
0             1  [Susu, Roti, Biskuit, Mentega]
1             2     [Susu, Biskuit, Gula, Kopi]
2             3              [Gula, Kopi, Susu]
3             4     [Kopi, Biskuit, Susu, Gula]
4             5           [Mentega, Roti, Kopi]

In [ ]:
df = df.explode('Item')
df

   ID Transaksi     Item
0             1     Susu
0             1     Roti
0             1  Biskuit
0             1  Mentega
1             2     Susu
1             2  Biskuit
1             2     Gula
1             2     Kopi
2             3     Gula
2             3     Kopi
2             3     Susu
3             4     Kopi
3             4  Biskuit
3             4     Susu
3             4     Gula
4             5  Mentega
4             5     Roti
4             5     Kopi

In [ ]:
basket = (df.groupby(['ID Transaksi', 'Item'])['Item'].count()\
                                      .unstack().reset_index().fillna(0)\
                                      .set_index('ID Transaksi'))

basket.head()

Item          Biskuit  Gula  Kopi  Mentega  Roti  Susu
ID Transaksi
1                 1.0   0.0   0.0      1.0   1.0   1.0
2                 1.0   1.0   1.0      0.0   0.0   1.0
3                 0.0   1.0   1.0      0.0   0.0   1.0
4                 1.0   1.0   1.0      0.0   0.0   1.0
5                 0.0   0.0   1.0      1.0   1.0   0.0

## Algoritma Apriori
Ekseskusi algoritma apriori menggunakan library mlextend dengan fungsi apriori

### Apriori Tahap 1
Eliminasi terhadap itemset berdasrkan minimum support

In [ ]:
# Set item minimum support 60%

frequent_itemsets = apriori(basket, min_support = 0.6, use_colnames = True)

#print(list(frequent_itemsets))
frequent_itemsets

   support            itemsets
0      0.6           (Biskuit)
1      0.6              (Gula)
2      0.8              (Kopi)
3      0.8              (Susu)
4      0.6     (Susu, Biskuit)
5      0.6        (Gula, Kopi)
6      0.6        (Susu, Gula)
7      0.6        (Susu, Kopi)
8      0.6  (Susu, Gula, Kopi)

### Apriori Tahap 2
Perhitungan Confidence untuk menyatkan keterkaitan antara 1 barang yang dibeli dengan barang yang lain
contoh: a membeli biskuit sudah pasti membeli susu

In [ ]:
rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold=0.6)
rules[["antecedents", "consequents", "support", "confidence"]]

     antecedents   consequents  support  confidence
0      (Biskuit)        (Susu)      0.6        1.00
1         (Susu)     (Biskuit)      0.6        0.75
2         (Gula)        (Kopi)      0.6        1.00
3         (Kopi)        (Gula)      0.6        0.75
4         (Gula)        (Susu)      0.6        1.00
5         (Susu)        (Gula)      0.6        0.75
6         (Kopi)        (Susu)      0.6        0.75
7         (Susu)        (Kopi)      0.6        0.75
8   (Gula, Kopi)        (Susu)      0.6        1.00
9   (Gula, Susu)        (Kopi)      0.6        1.00
10  (Kopi, Susu)        (Gula)      0.6        1.00
11        (Gula)  (Kopi, Susu)      0.6        1.00
12        (Kopi)  (Gula, Susu)      0.6        0.75
13        (Susu)  (Gula, Kopi)      0.6        0.75

## Tugas

### Nomor1

Soal: Dengan data yang sama, kerjakan kasus algoritma apriori dengan minimum support 40%!

In [ ]:
frequent_itemsets = apriori(basket, min_support = 0.4, use_colnames = True)

frequent_itemsets

    support                     itemsets
0       0.6                    (Biskuit)
1       0.6                       (Gula)
2       0.8                       (Kopi)
3       0.4                    (Mentega)
4       0.4                       (Roti)
5       0.8                       (Susu)
6       0.4              (Biskuit, Gula)
7       0.4              (Biskuit, Kopi)
8       0.6              (Susu, Biskuit)
9       0.6                 (Gula, Kopi)
10      0.6                 (Susu, Gula)
11      0.6                 (Susu, Kopi)
12      0.4              (Roti, Mentega)
13      0.4        (Biskuit, Gula, Kopi)
14      0.4        (Susu, Biskuit, Gula)
15      0.4        (Susu, Biskuit, Kopi)
16      0.6           (Susu, Gula, Kopi)
17      0.4  (Susu, Biskuit, Gula, Kopi)

In [ ]:

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.4)
rules[["antecedents", "consequents", "support", "confidence"]]

              antecedents            consequents  support  confidence
0               (Biskuit)                 (Gula)      0.4    0.666667
1                  (Gula)              (Biskuit)      0.4    0.666667
2               (Biskuit)                 (Kopi)      0.4    0.666667
3                  (Kopi)              (Biskuit)      0.4    0.500000
4                  (Susu)              (Biskuit)      0.6    0.750000
5               (Biskuit)                 (Susu)      0.6    1.000000
6                  (Gula)                 (Kopi)      0.6    1.000000
7                  (Kopi)                 (Gula)      0.6    0.750000
8                  (Susu)                 (Gula)      0.6    0.750000
9                  (Gula)                 (Susu)      0.6    1.000000
10                 (Susu)                 (Kopi)      0.6    0.750000
11                 (Kopi)                 (Susu)      0.6    0.750000
12                 (Roti)              (Mentega)      0.4    1.000000
13              (Mentega)                 (Roti)      0.4    1.000000
14        (Biskuit, Gula)                 (Kopi)      0.4    1.000000
15        (Biskuit, Kopi)                 (Gula)      0.4    1.000000
16           (Gula, Kopi)              (Biskuit)      0.4    0.666667
17              (Biskuit)           (Gula, Kopi)      0.4    0.666667
18                 (Gula)        (Biskuit, Kopi)      0.4    0.666667
19                 (Kopi)        (Biskuit, Gula)      0.4    0.500000
20        (Susu, Biskuit)                 (Gula)      0.4    0.666667
21           (Susu, Gula)              (Biskuit)      0.4    0.666667
22        (Biskuit, Gula)                 (Susu)      0.4    1.000000
23                 (Susu)        (Biskuit, Gula)      0.4    0.500000
24              (Biskuit)           (Susu, Gula)      0.4    0.666667
25                 (Gula)        (Susu, Biskuit)      0.4    0.666667
26        (Susu, Biskuit)                 (Kopi)      0.4    0.666667
27           (Susu, Kopi)              (Biskuit)      0.4    0.666667
28        (Biskuit, Kopi)                 (Susu)      0.4    1.000000
29                 (Susu)        (Biskuit, Kopi)      0.4    0.500000
30              (Biskuit)           (Susu, Kopi)      0.4    0.666667
31                 (Kopi)        (Susu, Biskuit)      0.4    0.500000
32           (Susu, Gula)                 (Kopi)      0.6    1.000000
33           (Susu, Kopi)                 (Gula)      0.6    1.000000
34           (Gula, Kopi)                 (Susu)      0.6    1.000000
35                 (Susu)           (Gula, Kopi)      0.6    0.750000
36                 (Gula)           (Susu, Kopi)      0.6    1.000000
37                 (Kopi)           (Susu, Gula)      0.6    0.750000
38  (Susu, Biskuit, Gula)                 (Kopi)      0.4    1.000000
39  (Susu, Biskuit, Kopi)                 (Gula)      0.4    1.000000
40     (Susu, Gula, Kopi)              (Biskuit)      0.4    0.666667
41  (Biskuit, Gula, Kopi)                 (Susu)      0.4    1.000000
42        (Susu, Biskuit)           (Gula, Kopi)      0.4    0.666667
43           (Susu, Gula)        (Biskuit, Kopi)      0.4    0.666667
44           (Susu, Kopi)        (Biskuit, Gula)      0.4    0.666667
45        (Biskuit, Gula)           (Susu, Kopi)      0.4    1.000000
46        (Biskuit, Kopi)           (Susu, Gula)      0.4    1.000000
47           (Gula, Kopi)        (Susu, Biskuit)      0.4    0.666667
48                 (Susu)  (Biskuit, Gula, Kopi)      0.4    0.500000
49              (Biskuit)     (Susu, Gula, Kopi)      0.4    0.666667
50                 (Gula)  (Susu, Biskuit, Kopi)      0.4    0.666667
51                 (Kopi)  (Susu, Biskuit, Gula)      0.4    0.500000

### Soal Bonus
Buat penyelesaian apriori menggunakan fungsi manual, atau fungsi yang dibuat sendiri tidak menggunakan library

In [36]:
#inisiasi dataset
#untuk dataset ini saya buat sendiri

dataset = [
    ['Odol', 'Sikat Gigi', 'Sabun Mandi', 'Shampo', 'Sabun Wajah'],
    ['Sikat Gigi', 'Odol', 'Conditioner', 'Listerine'],
    ['Sikat Gigi', 'Odol', 'Listerine'],
    ['Shampo', 'Conditioner', 'Sikat Gigi', 'Odol'],
    ['Sabun Mandi', 'Shampo', 'Conditioner']
]

In [46]:
#fungsi untuk menghitung kandidat itemset

def hitung_kandidat(prev_itemset, n):
    kandidat = []
    tmp = len(prev_itemset)
    
    for i in range(tmp):
        for j in range(i+1, tmp):

            #mengambil itemset sebelumnya yang memiliki (n-2) item yang sama
            if prev_itemset[i][:n-2] == prev_itemset[j][:n-2]:
              
                #menggabungkan dua itemset menjadi satu itemset kandidat baru
                kandidat1 = list(set(prev_itemset[i] + prev_itemset[j]))
                kandidat1.sort()
                
                #menambahkan itemset kandidat ke dalam list kandidat
                if kandidat1 not in kandidat:
                    kandidat.append(kandidat1)
    
    return kandidat

#fungsi untuk menghitung support count dari setiap itemset dalam dataset
def hitung_support_count(itemset, dataset):
    total = 0
    for trans in dataset:
        if set(itemset).issubset(set(trans)):
            total += 1
    return total

In [47]:
#fungsi untuk menghitung itemset yang memiliki support count >= minimal support

def hitung_frequent_itemset(itemsets, min_support, dataset):
    frequent_itemset = {}
    for itemset in itemsets:
        support_count = hitung_support_count(itemset, dataset)
        support = float(support_count) / len(dataset)
        if support >= min_support:
            frequent_itemset[tuple(itemset)] = support
    return frequent_itemset

#fungsi utama untuk mengeksekusi algoritma Apriori
def apriori(dataset, min_support):
    itemset = [[item] for item in set([item for trans in dataset for item in trans])]
    frequent_itemset = hitung_frequent_itemset(itemset, min_support, dataset)
    print_frequent_itemset(frequent_itemset)
    
    n = 2
    while len(frequent_itemset) > 0:
        itemset = list(frequent_itemset.keys())
        candidates = hitung_kandidat(itemset, n)
        frequent_itemset = hitung_frequent_itemset(candidates, min_support, dataset)
        print_frequent_itemset(frequent_itemset)
        n += 1

#fungsi untuk menampilkan frequent itemset
def print_frequent_itemset(frequent_itemset):
    for itemset, support in frequent_itemset.items():
        print('{} : {}'.format(list(itemset), round(support, 2)))

In [48]:
#mencari algoritma apriori dengan minimum support 60%
apriori(dataset, 0.6)

['Odol'] : 0.8
['Conditioner'] : 0.6
['Sikat Gigi'] : 0.8
['Shampo'] : 0.6
['Odol', 'Sikat Gigi'] : 0.8

Note: Sebelumnya saya memohon maaf. Dalam pengerjaan soal bonus saya mengerjakannya masih sambil berdiskusi dengan teman, sehingga saya belum maksimal dalam memahami penyelesaian soal ini. Untuk kedepannya saya akan mempelajari lagi bagaimana cara untuk melakukan penyelesaian soal dengan maksimal dan memahami sepenuhnya.
Terima Kasih

Berikut Link Sharing : https://colab.research.google.com/drive/1evJmhrgheM8S-8EqHnwFYvgdCV6lnf3q#scrollTo=-MZa8Jj8pEg0